<?xml version="1.0"?>
<configuration>
	<configSections>
		<!-- This tells the Configuration class how to read the persistent store elements. -->
		<section name="persistentStoreSection" type="MarkThree.PersistentStoreSectionHandler, Configuration Sections"/>
	</configSections>
	<persistentStoreSection>
		<!-- Define the Persistent Data Stores available to this server. -->
		<persistentStoreInfo name="Guardian" connectionString="server=(local);database=Guardian;Trusted_Connection=yes"/>
	</persistentStoreSection>
	<appSettings>
		<add key="eventLog" value="Guardian"/>
		<add key="eventLogSource" value="Guardian Web Transaction"/>
		<add key="GuardianEcn" value="GUARDIAN ECN"/>
	</appSettings>
	<system.web>
		<!-- Enable ASP debugging.  This should be set to 'false' to improve performance. -->
		<compilation debug="false"/>
		<!-- 'Windows' mode enables Certificate and Integrated Security Authentication. -->
		<authentication mode="Windows"/>
		<!-- Enable impersonation of users based on Certificate Mapping in IIS. -->
		<identity impersonate="true"/>
		<!-- Disable tracking session states and turn off cookies.  These connections are 'sessionless' -->
		<sessionState mode="Off" cookieless="true"/>
		<!-- Open up the port to allow medium size packets -->
		<httpRuntime maxRequestLength="8096"/>
		<!-- This section defines how the HTTP Verbs are handled. -->
		<httpHandlers>
			<add verb="GET, POST, DEBUG" path="web transaction.ashx" type="MarkThree.Server.WebTransaction, Web Transaction"/>
		</httpHandlers>
	</system.web>
	<runtime>
		<!-- Redirect Assembly Bindings for dynamically loaded service modules -->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- Qualify Partial Assembly Names -->
      <qualifyAssembly partialName="Batch" fullName="Batch, Version=1.1.5.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
      <qualifyAssembly partialName="Configuration Sections" fullName="Configuration Sections, Version=1.1.5.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
      <qualifyAssembly partialName="Core Service" fullName="Core Service, Version=1.1.7.0, PublicKeyToken=612c61628830b03a, Culture=neutral"/>
      <qualifyAssembly partialName="External Service" fullName="External Service, Version=1.1.7.0, PublicKeyToken=612c61628830b03a, Culture=neutral"/>
      <qualifyAssembly partialName="Guardian Library" fullName="Guardian Library, Version=1.1.3.0, PublicKeyToken=612c61628830b03a, Culture=neutral"/>
      <qualifyAssembly partialName="Market Data" fullName="Market Data, Version=1.1.7.0, PublicKeyToken=612c61628830b03a, Culture=neutral"/>
      <qualifyAssembly partialName="Mark Three Library" fullName="Mark Three Library, Version=1.1.6.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
      <qualifyAssembly partialName="Matching Service" fullName="Matching Service, Version=1.1.3.0, PublicKeyToken=612c61628830b03a, Culture=neutral"/>
      <qualifyAssembly partialName="Price Simulator" fullName="Price Simulator, Version=1.1.2.0, PublicKeyToken=612c61628830b03a, Culture=neutral"/>
      <qualifyAssembly partialName="Real Time Pricing" fullName="Real Time Pricing, Version=1.1.2.0, PublicKeyToken=612c61628830b03a, Culture=neutral"/>
      <qualifyAssembly partialName="Server Market Data" fullName="Server Market Data, Version=1.1.7.0, PublicKeyToken=612c61628830b03a, Culture=neutral"/>
			<qualifyAssembly partialName="Trading Service" fullName="Trading Service, Version=1.1.3.0, PublicKeyToken=612c61628830b03a, Culture=neutral"/>
			<qualifyAssembly partialName="Web Transaction" fullName="Web Transaction, Version=1.1.2.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
		</assemblyBinding>
	</runtime>
</configuration>
