<?xml version="1.0"?>
<configuration>
	<configSections>
		<!-- This tells the Configuration class how to read the persistent store elements. -->
		<section name="persistentStoreSection" type="MarkThree.PersistentStoreSectionHandler, Configuration Sections"/>
	</configSections>
	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
	<persistentStoreSection>
		<!-- Define the Persistent Data Stores available to this server. -->
		<persistentStoreInfo name="Quasar" connectionString="server=(local);database=Quasar;Trusted_Connection=yes"/>
	</persistentStoreSection>
	<appSettings>
		<add key="eventLog" value="Quasar"/>
		<add key="eventLogSource" value="Quasar Web Transaction"/>
	</appSettings>
	<system.web>
		<!-- Enable the custom errors to be returned to the client during debugging. -->
		<customErrors mode="Off"/>
		<!-- Enable ASP debugging.  This should be set to 'false' to improve performance. -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<!-- 'Windows' mode enables Certificate and Integrated Security Authentication. -->
		<authentication mode="Windows"/>
		<!-- Enable impersonation of users based on Certificate Mapping in IIS. -->
		<identity impersonate="true"/>
		<!-- Disable tracking session states and turn off cookies.  These connections are 'sessionless' -->
		<sessionState mode="Off" cookieless="true"/>
		<!-- Open up the port to allow medium size packets -->
		<httpRuntime maxRequestLength="8096"/>
		<!-- This section defines how the HTTP Verbs are handled. -->
		<httpHandlers>
			<add verb="GET, POST, DEBUG" path="web transaction.ashx" type="MarkThree.Server.WebTransaction, Web Transaction"/>
		</httpHandlers>
	</system.web>
	<runtime>
		<!-- Redirect Assembly Bindings for dynamically loaded service modules -->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- Qualify Partial Assembly Names -->
			<qualifyAssembly partialName="Core Service" fullName="Core Service, Version=1.0.0.0, PublicKeyToken=79956382ab7b56dd, Culture=neutral"/>
			<qualifyAssembly partialName="External Service" fullName="External Service, Version=1.0.0.0, PublicKeyToken=79956382ab7b56dd, Culture=neutral"/>
			<qualifyAssembly partialName="Quasar Library" fullName="Quasar Library, Version=1.0.0.0, PublicKeyToken=79956382ab7b56dd, Culture=neutral"/>
			<qualifyAssembly partialName="Market Data" fullName="Market Data, Version=1.0.0.0, PublicKeyToken=79956382ab7b56dd, Culture=neutral"/>
			<qualifyAssembly partialName="Price Simulator" fullName="Price Simulator, Version=1.0.0.0, PublicKeyToken=79956382ab7b56dd, Culture=neutral"/>
			<qualifyAssembly partialName="Server Market Data" fullName="Server Market Data, Version=1.0.0.0, PublicKeyToken=79956382ab7b56dd, Culture=neutral"/>
			<!-- Core Service -->
			<dependentAssembly>
				<assemblyIdentity name="Core Service" publicKeyToken="79956382ab7b56dd" culture="neutral"/>
				<codeBase version="1.0.0.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Quasar\Core Service\bin\Debug\Core Service.dll"/>
			</dependentAssembly>
			<!-- External Service -->
			<dependentAssembly>
				<assemblyIdentity name="External Service" publicKeyToken="79956382ab7b56dd" culture="neutral"/>
				<codeBase version="1.0.0.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Quasar\External Service\bin\Debug\External Service.dll"/>
			</dependentAssembly>
			<!-- Quasar Library -->
			<dependentAssembly>
				<assemblyIdentity name="Quasar Library" publicKeyToken="79956382ab7b56dd" culture="neutral"/>
				<codeBase version="1.0.0.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Quasar\Quasar Library\bin\Debug\Quasar Library.dll"/>
			</dependentAssembly>
			<!-- Market Data -->
			<dependentAssembly>
				<assemblyIdentity name="Market Data" publicKeyToken="79956382ab7b56dd" culture="neutral"/>
				<codeBase version="1.0.0.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Quasar\Market Data\bin\Debug\Market Data.dll"/>
			</dependentAssembly>
			<!-- Price Simulator -->
			<dependentAssembly>
				<assemblyIdentity name="Price Simulator" publicKeyToken="79956382ab7b56dd" culture="neutral"/>
				<codeBase version="1.0.0.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Quasar\Price Simulator\bin\Debug\Price Simulator.dll"/>
			</dependentAssembly>
			<!-- Server Market Data -->
			<dependentAssembly>
				<assemblyIdentity name="Server Market Data" publicKeyToken="79956382ab7b56dd" culture="neutral"/>
				<codeBase version="1.0.0.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Quasar\Server Market Data\bin\Debug\Server Market Data.dll"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
