<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <appSettings>
    <add key="WebService" value="https://Ariel/Visual Studio Projects/Quasar/Web%20Service" />
    <add key="Certificate" value="C:\My Documents\My Certificates\Mark Three Software CA\DER\Quasar Admin.cer" />
  </appSettings>
</configuration>