<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- This tells the Configuration class how to read the viewer elements. -->
		<section name="viewers" type="MarkThree.ViewerSectionHandler, Configuration Sections" />
		<section name="tools" type="MarkThree.ToolSectionHandler, Configuration Sections" />
		<section name="services" type="MarkThree.ServiceSectionHandler, Configuration Sections" />
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="MarkThree.Guardian.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<startup>
		<supportedRuntime version="v2.0.50727" />
	</startup> 
	<viewers> 
		<!-- These are the Viewers available to this application. -->
		<add type="MarkThree.Guardian.Blotter, Object Library" viewer="MarkThree.Guardian.Forms.BlotterViewer, Blotter Viewer"/>
		<add type="MarkThree.Guardian.Forms.BlotterMatchDetail, Guardian Forms" viewer="MarkThree.Guardian.Forms.BlotterViewer, Blotter Viewer"/>
		<add type="MarkThree.Guardian.Branch, Object Library" viewer="MarkThree.Guardian.Forms.BlotterViewer, Blotter Viewer"/>
		<add type="MarkThree.Guardian.Broker, Object Library" viewer="MarkThree.Guardian.Forms.BlotterViewer, Blotter Viewer"/>
		<add type="MarkThree.Guardian.ClearingBroker, Object Library" viewer="MarkThree.Guardian.Forms.BlotterViewer, Blotter Viewer"/>
		<add type="MarkThree.Guardian.Institution, Object Library" viewer="MarkThree.Guardian.Forms.BlotterViewer, Blotter Viewer"/>
		<add type="MarkThree.Guardian.SystemFolder, Object Library" viewer="MarkThree.Forms.BrowserViewer, Browser Viewer"/>
		<add type="MarkThree.WebPage, Mark Three Library" viewer="MarkThree.Forms.BrowserViewer, Browser Viewer"/>
	</viewers>
	<tools>
		<!-- This is where the optional tools can be added to the 'Tools' menu. -->
		<add key="Options" text="&amp;Options..." tool="MarkThree.Guardian.Forms.Options, Options"/>
	</tools>
	<appSettings>
		<add key="httpTimeout" value="300000" />
		<add key="OnOpen" value="MarkThree.WebPage, Mark Three Library, file://C:/My Documents/Visual Studio 2005/Projects/Mark Three Software/Guardian/Client Container/welcome.htm"/>
		<add key="eventLog" value="Guardian" />
		<add key="eventLogSource" value="Guardian Client" />
	</appSettings>
	<runtime>
		<!-- Redirect Assembly Bindings -->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- Qualify Partial Assembly Names -->
			<qualifyAssembly partialName="Advertisement Viewer" fullName="Advertisement Viewer, Version=1.1.0.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
			<qualifyAssembly partialName="AxInterop.OWC11" fullName="AxInterop.OWC11, Version=1.0.0.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
			<qualifyAssembly partialName="Batch" fullName="Batch, Version=1.1.5.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
			<qualifyAssembly partialName="Blotter Detail Viewer" fullName="Blotter Detail Viewer, Version=1.1.1.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
			<qualifyAssembly partialName="Blotter Viewer" fullName="Blotter Viewer, Version=1.1.3.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
			<qualifyAssembly partialName="Browser Viewer" fullName="Browser Viewer, Version=1.1.0.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
			<qualifyAssembly partialName="Chart Viewer" fullName="Chart Viewer, Version=1.1.0.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
			<qualifyAssembly partialName="Client Market Data" fullName="Client Market Data, Version=1.1.2.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
			<qualifyAssembly partialName="Configuration Sections" fullName="Configuration Sections, Version=1.1.5.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
			<qualifyAssembly partialName="Destination Order Viewer" fullName="Destination Order Viewer, Version=1.1.1.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
			<qualifyAssembly partialName="Execution Viewer" fullName="Execution Viewer, Version=1.1.1.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
			<qualifyAssembly partialName="Folder List" fullName="Folder List, Version=1.1.0.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
			<qualifyAssembly partialName="Interop.OWC11" fullName="Interop.OWC11, Version=1.0.0.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
      <qualifyAssembly partialName="Guardian Forms" fullName="Guardian Forms, Version=1.1.1.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
      <qualifyAssembly partialName="Guardian Library" fullName="Guardian Library, Version=1.1.3.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
      <qualifyAssembly partialName="Mark Three Forms" fullName="Mark Three Forms, Version=1.1.3.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
      <qualifyAssembly partialName="Mark Three Library" fullName="Mark Three Library, Version=1.1.5.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
      <qualifyAssembly partialName="Market Data" fullName="Market Data, Version=1.1.6.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
      <qualifyAssembly partialName="Match History Viewer" fullName="Match History Viewer, Version=1.1.3.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
      <qualifyAssembly partialName="Match Viewer" fullName="Match Viewer, Version=1.1.5.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
      <qualifyAssembly partialName="Negotiation Console" fullName="Negotiation Console, Version=1.1.0.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
      <qualifyAssembly partialName="Negotiation Service" fullName="Negotiation Service, Version=1.1.0.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
      <qualifyAssembly partialName="Object Library" fullName="Object Library, Version=1.1.0.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
      <qualifyAssembly partialName="Options" fullName="Options, Version=1.1.3.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
      <qualifyAssembly partialName="Order Book Viewer" fullName="Order Book Viewer, Version=1.1.0.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
      <qualifyAssembly partialName="Order Form" fullName="Order Form, Version=1.1.0.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
      <qualifyAssembly partialName="QuoteViewer" fullName="QuoteViewer, Version=1.0.0.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
      <qualifyAssembly partialName="Source Order Viewer" fullName="Source Order Viewer, Version=1.1.1.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
			<qualifyAssembly partialName="Spreadsheet Viewer" fullName="Spreadsheet Viewer, Version=1.2.0.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
      <qualifyAssembly partialName="TOMS Scraper" fullName="TOMS Scraper, Version=1.0.0.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
      <qualifyAssembly partialName="User Preferences" fullName="User Preferences, Version=1.1.3.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
			<qualifyAssembly partialName="Volume Chart Viewer" fullName="Volume Chart Viewer, Version=1.1.0.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
			<qualifyAssembly partialName="Web Transaction Protocol" fullName="Web Transaction Protocol, Version=1.1.6.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
			<qualifyAssembly partialName="Working Order Viewer" fullName="Working Order Viewer, Version=1.1.4.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
			<!-- Advertisement Viewer -->
			<dependentAssembly>
				<assemblyIdentity name="Advertisement Viewer" publicKeyToken="612c61628830b03a" culture="neutral" />
				<codeBase version="1.1.0.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Guardian\Advertisement Viewer\bin\Debug\Advertisement Viewer.dll" />
			</dependentAssembly>
			<!-- AxInterop.OWC11 -->
			<dependentAssembly>
				<assemblyIdentity name="AxInterop.OWC11" publicKeyToken="9e74401225b20b7d" culture="neutral" />
				<codeBase version="1.0.0.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Chart Viewer\bin\Debug\AxInterop.OWC11.dll" />
			</dependentAssembly>
			<!-- Batch -->
			<dependentAssembly>
				<assemblyIdentity name="Batch" publicKeyToken="9e74401225b20b7d" culture="neutral" />
				<codeBase version="1.1.4.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Batch\bin\Debug\Batch.dll" />
			</dependentAssembly>
			<!-- Blotter Detail Viewer -->
			<dependentAssembly>
				<assemblyIdentity name="Blotter Detail Viewer" publicKeyToken="612c61628830b03a" culture="neutral" />
				<codeBase version="1.1.1.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Guardian\Blotter Detail Viewer\bin\Debug\Blotter Detail Viewer.dll" />
			</dependentAssembly>
			<!-- Blotter Viewer -->
			<dependentAssembly>
				<assemblyIdentity name="Blotter Viewer" publicKeyToken="612c61628830b03a" culture="neutral" />
				<codeBase version="1.1.3.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Guardian\Blotter Viewer\bin\Debug\Blotter Viewer.dll" />
			</dependentAssembly>
			<!-- Browser Viewer -->
			<dependentAssembly>
				<assemblyIdentity name="Browser Viewer" publicKeyToken="9e74401225b20b7d" culture="neutral" />
				<codeBase version="1.1.0.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Browser Viewer\bin\Debug\Browser Viewer.dll" />
			</dependentAssembly>
			<!-- Chart Viewer -->
			<dependentAssembly>
				<assemblyIdentity name="Chart Viewer" publicKeyToken="9e74401225b20b7d" culture="neutral" />
				<codeBase version="1.1.0.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Chart Viewer\bin\Debug\Chart Viewer.dll" />
			</dependentAssembly>
			<!-- Client Market Data -->
			<dependentAssembly>
				<assemblyIdentity name="Client Market Data" publicKeyToken="612c61628830b03a" culture="neutral" />
				<codeBase version="1.1.2.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Guardian\Client Market Data\bin\Debug\Client Market Data.dll" />
			</dependentAssembly>
			<!-- Client Order Viewer -->
			<dependentAssembly>
				<assemblyIdentity name="Client Order Viewer" publicKeyToken="612c61628830b03a" culture="neutral" />
				<codeBase version="1.1.0.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Guardian\Client Order Viewer\bin\Debug\Client Order Viewer.dll" />
			</dependentAssembly>
			<!-- Configuration Sections -->
			<dependentAssembly>
				<assemblyIdentity name="Configuration Sections" publicKeyToken="9e74401225b20b7d" culture="neutral" />
				<codeBase version="1.1.4.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Configuration Sections\bin\Debug\Configuration Sections.dll" />
			</dependentAssembly>
			<!-- Destination Order Viewer -->
			<dependentAssembly>
				<assemblyIdentity name="Destination Order Viewer" publicKeyToken="612c61628830b03a" culture="neutral" />
				<codeBase version="1.1.1.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Guardian\Destination Order Viewer\bin\Debug\Destination Order Viewer.dll" />
			</dependentAssembly>
			<!-- Execution Viewer -->
			<dependentAssembly>
				<assemblyIdentity name="Execution Viewer" publicKeyToken="612c61628830b03a" culture="neutral" />
				<codeBase version="1.1.1.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Guardian\Execution Viewer\bin\Debug\Execution Viewer.dll" />
			</dependentAssembly>
			<!-- Folder List -->
			<dependentAssembly>
				<assemblyIdentity name="Folder List" publicKeyToken="612c61628830b03a" culture="neutral" />
				<codeBase version="1.1.0.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Guardian\Folder List\bin\Debug\Folder List.dll" />
			</dependentAssembly>
			<!-- Guardian Forms -->
			<dependentAssembly>
				<assemblyIdentity name="Guardian Forms" publicKeyToken="612c61628830b03a" culture="neutral" />
				<codeBase version="1.1.1.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Guardian\Guardian Forms\bin\Debug\Guardian Forms.dll" />
			</dependentAssembly>
			<!-- Guardian Library -->
			<dependentAssembly>
				<assemblyIdentity name="Guardian Library" publicKeyToken="612c61628830b03a" culture="neutral" />
				<codeBase version="1.1.3.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Guardian\Guardian Library\bin\Debug\Guardian Library.dll" />
			</dependentAssembly>
			<!-- Interop.OWC11 -->
			<dependentAssembly>
				<assemblyIdentity name="Interop.OWC11" publicKeyToken="9e74401225b20b7d" culture="neutral" />
				<codeBase version="1.0.0.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Chart Viewer\bin\Debug\Interop.OWC11.dll" />
			</dependentAssembly>
			<!-- Mark Three Forms -->
			<dependentAssembly>
				<assemblyIdentity name="Mark Three Forms" publicKeyToken="9e74401225b20b7d" culture="neutral" />
				<codeBase version="1.1.3.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Mark Three Forms\bin\Debug\Mark Three Forms.dll" />
			</dependentAssembly>
			<!-- Mark Three Library -->
			<dependentAssembly>
				<assemblyIdentity name="Mark Three Library" publicKeyToken="9e74401225b20b7d" culture="neutral" />
				<codeBase version="1.1.4.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Mark Three Library\bin\Debug\Mark Three Library.dll" />
			</dependentAssembly>
			<!-- Market Data -->
			<dependentAssembly>
				<assemblyIdentity name="Market Data" publicKeyToken="612c61628830b03a" culture="neutral" />
				<codeBase version="1.1.6.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Guardian\Market Data\bin\Debug\Market Data.dll" />
			</dependentAssembly>
			<!-- Match History Viewer -->
			<dependentAssembly>
				<assemblyIdentity name="Match History Viewer" publicKeyToken="612c61628830b03a" culture="neutral" />
				<codeBase version="1.1.3.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Guardian\Match History Viewer\bin\Debug\Match History Viewer.dll" />
			</dependentAssembly>
			<!-- Match Viewer -->
			<dependentAssembly>
				<assemblyIdentity name="Match Viewer" publicKeyToken="612c61628830b03a" culture="neutral" />
				<codeBase version="1.1.5.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Guardian\Match Viewer\bin\Debug\Match Viewer.dll" />
			</dependentAssembly>
			<!-- Negotiation Console -->
			<dependentAssembly>
				<assemblyIdentity name="Negotiation Console" publicKeyToken="612c61628830b03a" culture="neutral" />
				<codeBase version="1.1.0.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Guardian\Negotiation Console\bin\Debug\Negotiation Console.dll" />
			</dependentAssembly>
			<!-- Negotiation Service -->
			<dependentAssembly>
				<assemblyIdentity name="Negotiation Service" publicKeyToken="612c61628830b03a" culture="neutral" />
				<codeBase version="1.1.0.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Guardian\Negotiation Service\bin\Debug\Negotiation Service.dll" />
			</dependentAssembly>
			<!-- Object Library -->
			<dependentAssembly>
				<assemblyIdentity name="Object Library" publicKeyToken="612c61628830b03a" culture="neutral" />
				<codeBase version="1.1.0.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Guardian\Object Library\bin\Debug\Object Library.dll" />
			</dependentAssembly>
			<!-- Options -->
			<dependentAssembly>
				<assemblyIdentity name="Options" publicKeyToken="612c61628830b03a" culture="neutral" />
				<codeBase version="1.1.3.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Guardian\Options\bin\Debug\Options.dll" />
			</dependentAssembly>
			<!-- Order Book Viewer -->
			<dependentAssembly>
				<assemblyIdentity name="Order Book Viewer" publicKeyToken="612c61628830b03a" culture="neutral" />
				<codeBase version="1.1.0.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Guardian\Order Book Viewer\bin\Debug\Order Book Viewer.dll" />
			</dependentAssembly>
			<!-- Order Form -->
			<dependentAssembly>
				<assemblyIdentity name="Order Form" publicKeyToken="612c61628830b03a" culture="neutral" />
				<codeBase version="1.1.0.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Guardian\Order Form\bin\Debug\Order Form.dll" />
			</dependentAssembly>
      <!-- Spreadsheet Viewer -->
      <dependentAssembly>
        <assemblyIdentity name="QuoteViewer" publicKeyToken="9e74401225b20b7d" culture="neutral" />
        <codeBase version="1.0.0.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\QuoteViewer\bin\Debug\QuoteViewer.dll" />
      </dependentAssembly>
      <!-- Source Order Viewer -->
			<dependentAssembly>
				<assemblyIdentity name="Source Order Viewer" publicKeyToken="612c61628830b03a" culture="neutral" />
				<codeBase version="1.1.1.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Guardian\Source Order Viewer\bin\Debug\Source Order Viewer.dll" />
			</dependentAssembly>
			<!-- Spreadsheet Viewer -->
			<dependentAssembly>
				<assemblyIdentity name="Spreadsheet Viewer" publicKeyToken="9e74401225b20b7d" culture="neutral" />
				<codeBase version="1.2.0.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Spreadsheet Viewer\bin\Debug\Spreadsheet Viewer.dll" />
			</dependentAssembly>
      <!-- TOMS Scraper -->
      <dependentAssembly>
        <assemblyIdentity name="TOMS Scraper" publicKeyToken="9e74401225b20b7d" culture="neutral" />
        <codeBase version="1.0.0.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\TOMS Scraper\bin\Debug\TOMS Scraper.dll" />
      </dependentAssembly>
			<!-- User Preferences -->
			<dependentAssembly>
				<assemblyIdentity name="User Preferences" publicKeyToken="9e74401225b20b7d" culture="neutral" />
				<codeBase version="1.1.3.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\User Preferences\bin\Debug\User Preferences.dll" />
			</dependentAssembly>
			<!-- Volume Chart Viewer -->
			<dependentAssembly>
				<assemblyIdentity name="Volume Chart Viewer" publicKeyToken="612c61628830b03a" culture="neutral" />
				<codeBase version="1.1.0.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Guardian\Volume Chart Viewer\bin\Debug\Volume Chart Viewer.dll" />
			</dependentAssembly>
			<!-- Web Transaction Protocol -->
			<dependentAssembly>
				<assemblyIdentity name="Web Transaction Protocol" publicKeyToken="9e74401225b20b7d" culture="neutral" />
				<codeBase version="1.1.5.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Web Transaction Protocol\bin\Debug\Web Transaction Protocol.dll" />
			</dependentAssembly>
			<!-- Working Order Viewer -->
			<dependentAssembly>
				<assemblyIdentity name="Working Order Viewer" publicKeyToken="612c61628830b03a" culture="neutral" />
				<codeBase version="1.1.4.0" href="file:///C:\My Documents\Visual Studio 2005\Projects\Mark Three Software\Guardian\Working Order Viewer\bin\Debug\Working Order Viewer.dll" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <MarkThree.Guardian.Forms.Properties.Settings>
   <setting name="FormMainWindowState" serializeAs="String">
    <value>Normal</value>
   </setting>
   <setting name="FormMainLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="FormMainSize" serializeAs="String">
    <value>512, 256</value>
   </setting>
   <setting name="SplitContainer1SplitterDistance" serializeAs="String">
    <value>128</value>
   </setting>
   <setting name="SplitContainer1Panel1Collapsed" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SplitContainer2SplitterDistance" serializeAs="String">
    <value>128</value>
   </setting>
   <setting name="SplitContainer2Panel1Collapsed" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="StatusStripVisible" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="StatusStripDock" serializeAs="String">
    <value>None</value>
   </setting>
   <setting name="StatusStripSize" serializeAs="String">
    <value>504, 22</value>
   </setting>
   <setting name="GuardianBarToolStripMenuItemChecked" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="GuardianBarToolStripMenuItemCheckState" serializeAs="String">
    <value>Checked</value>
   </setting>
   <setting name="FolderListToolStripMenuItemChecked" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FolderListToolStripMenuItemCheckState" serializeAs="String">
    <value>Checked</value>
   </setting>
   <setting name="StatusBarToolStripMenuItemChecked" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="StatusBarToolStripMenuItemCheckState" serializeAs="String">
    <value>Checked</value>
   </setting>
   <setting name="ToolBarsToolStripMenuItem" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ToolBarsToolStripMenuItemCheckState" serializeAs="String">
    <value>Checked</value>
   </setting>
   <setting name="ToolBarsToolStripMenuItemChecked" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ToolStripVisible" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ToolStripDock" serializeAs="String">
    <value>None</value>
   </setting>
   <setting name="FormMainText" serializeAs="String">
    <value>Block Cross</value>
   </setting>
   <setting name="ApplicationName" serializeAs="String">
    <value>Block Cross</value>
   </setting>
  </MarkThree.Guardian.Forms.Properties.Settings>
 </userSettings>
</configuration>
