<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- This tells the Configuration class how to read the viewer elements. -->
		<section name="viewers" type="MarkThree.ViewerSectionHandler, Configuration Sections" />
		<section name="tools" type="MarkThree.ToolSectionHandler, Configuration Sections" />
		<section name="services" type="MarkThree.ServiceSectionHandler, Configuration Sections" />
	</configSections>
	<startup>
		<supportedRuntime version="v2.0.50727" />
	</startup>
	<viewers> 
		<!-- These are the Viewers available to this application. -->
		<add type="MarkThree.Guardian.Blotter, Object Library" viewer="MarkThree.Guardian.Forms.BlotterViewer, Blotter Viewer"/>
		<add type="MarkThree.Guardian.Forms.BlotterMatchDetail, Guardian Forms" viewer="MarkThree.Guardian.Forms.BlotterViewer, Blotter Viewer"/>
		<add type="MarkThree.Guardian.Branch, Object Library" viewer="MarkThree.Guardian.Forms.BlotterViewer, Blotter Viewer"/>
		<add type="MarkThree.Guardian.Broker, Object Library" viewer="MarkThree.Guardian.Forms.BlotterViewer, Blotter Viewer"/>
		<add type="MarkThree.Guardian.ClearingBroker, Object Library" viewer="MarkThree.Guardian.Forms.BlotterViewer, Blotter Viewer"/>
		<add type="MarkThree.Guardian.Institution, Object Library" viewer="MarkThree.Guardian.Forms.BlotterViewer, Blotter Viewer"/>
		<add type="MarkThree.Guardian.SystemFolder, Object Library" viewer="MarkThree.Forms.BrowserViewer, Browser Viewer"/>
		<add type="MarkThree.WebPage, Mark Three Library" viewer="MarkThree.Forms.BrowserViewer, Browser Viewer"/>
	</viewers>
	<tools> 
		<!-- This is where the optional tools can be added to the 'Tools' menu. -->
		<add key="Options" text="&amp;Options..." tool="MarkThree.Guardian.Forms.Options, Options"/>
	</tools>
	<appSettings>
		<add key="httpTimeout" value="30000" />
		<add key="OnOpen" value="MarkThree.WebPage, Mark Three Library, file://C:/Program Files/Mark Three Software/Mark Three Guardian Client/welcome.htm"/>
		<add key="eventLog" value="Guardian" />
		<add key="eventLogSource" value="Guardian Client" />
	</appSettings>
	<runtime>
		<!-- Redirect Assembly Bindings -->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- Qualify Partial Assembly Names -->
			<qualifyAssembly partialName="Advertisement Viewer" fullName="Advertisement Viewer, Version=1.1.0.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
			<qualifyAssembly partialName="AxInterop.OWC11" fullName="AxInterop.OWC11, Version=1.0.0.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
			<qualifyAssembly partialName="Batch" fullName="Batch, Version=1.1.5.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
			<qualifyAssembly partialName="Blotter Detail Viewer" fullName="Blotter Detail Viewer, Version=1.1.1.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
			<qualifyAssembly partialName="Blotter Viewer" fullName="Blotter Viewer, Version=1.1.3.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
			<qualifyAssembly partialName="Browser Viewer" fullName="Browser Viewer, Version=1.1.0.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
			<qualifyAssembly partialName="Chart Viewer" fullName="Chart Viewer, Version=1.1.0.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
			<qualifyAssembly partialName="Client Market Data" fullName="Client Market Data, Version=1.1.2.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
			<qualifyAssembly partialName="Configuration Sections" fullName="Configuration Sections, Version=1.1.5.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
			<qualifyAssembly partialName="Destination Order Viewer" fullName="Destination Order Viewer, Version=1.1.1.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
			<qualifyAssembly partialName="Execution Viewer" fullName="Execution Viewer, Version=1.1.1.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
			<qualifyAssembly partialName="Folder List" fullName="Folder List, Version=1.1.0.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
			<qualifyAssembly partialName="Interop.OWC11" fullName="Interop.OWC11, Version=1.0.0.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
      <qualifyAssembly partialName="Guardian Forms" fullName="Guardian Forms, Version=1.1.1.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
      <qualifyAssembly partialName="Guardian Library" fullName="Guardian Library, Version=1.1.3.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
      <qualifyAssembly partialName="Mark Three Forms" fullName="Mark Three Forms, Version=1.1.3.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
      <qualifyAssembly partialName="Mark Three Library" fullName="Mark Three Library, Version=1.1.5.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
      <qualifyAssembly partialName="Market Data" fullName="Market Data, Version=1.1.6.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
      <qualifyAssembly partialName="Match History Viewer" fullName="Match History Viewer, Version=1.1.3.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
      <qualifyAssembly partialName="Match Viewer" fullName="Match Viewer, Version=1.1.5.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
      <qualifyAssembly partialName="Negotiation Console" fullName="Negotiation Console, Version=1.1.0.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
      <qualifyAssembly partialName="Negotiation Service" fullName="Negotiation Service, Version=1.1.0.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
      <qualifyAssembly partialName="Object Library" fullName="Object Library, Version=1.1.0.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
      <qualifyAssembly partialName="Options" fullName="Options, Version=1.1.3.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
      <qualifyAssembly partialName="Order Book Viewer" fullName="Order Book Viewer, Version=1.1.0.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
      <qualifyAssembly partialName="Order Form" fullName="Order Form, Version=1.1.0.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
      <qualifyAssembly partialName="QuoteViewer" fullName="QuoteViewer, Version=1.0.0.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
      <qualifyAssembly partialName="Source Order Viewer" fullName="Source Order Viewer, Version=1.1.1.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
			<qualifyAssembly partialName="Spreadsheet Viewer" fullName="Spreadsheet Viewer, Version=1.2.0.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
      <qualifyAssembly partialName="TOMS Scraper" fullName="TOMS Scraper, Version=1.0.0.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
      <qualifyAssembly partialName="User Preferences" fullName="User Preferences, Version=1.1.3.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
			<qualifyAssembly partialName="Volume Chart Viewer" fullName="Volume Chart Viewer, Version=1.1.0.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
			<qualifyAssembly partialName="Web Transaction Protocol" fullName="Web Transaction Protocol, Version=1.1.6.0, PublicKeyToken=9e74401225b20b7d, Culture=neutral" />
			<qualifyAssembly partialName="Working Order Viewer" fullName="Working Order Viewer, Version=1.1.4.0, PublicKeyToken=612c61628830b03a, Culture=neutral" />
		</assemblyBinding>
	</runtime>
</configuration>
