<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarkThree.Guardian.Forms.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MarkThree.Guardian.Forms.Settings>
            <setting name="DetailWindowMenuStripItemChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConsoleWindowMenuStripItemChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SplitContainer1SplitterDistance" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="SplitContainer1Panel2Collapsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SplitContainer2SplitterDistance" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="SplitContainer2Panel1Collapsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SplitContainer2Panel2Collapsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SplitContainer3SplitterDistance" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SplitContainer4SplitterDistance" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="SplitContainer5SplitterDistance" serializeAs="String">
                <value>171</value>
            </setting>
            <setting name="SplitContainer1Size" serializeAs="String">
                <value>604, 218</value>
            </setting>
            <setting name="SplitContainer2Size" serializeAs="String">
                <value>604, 86</value>
            </setting>
            <setting name="SplitContainer3Size" serializeAs="String">
                <value>504, 230</value>
            </setting>
            <setting name="SplitContainer4Size" serializeAs="String">
                <value>504, 126</value>
            </setting>
            <setting name="SplitContainer5Size" serializeAs="String">
                <value>504, 47</value>
            </setting>
            <setting name="QuoteWindowMenuStripItemChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SplitContainer6Size" serializeAs="String">
                <value>504, 126</value>
            </setting>
            <setting name="SplitContainer6SplitterDistance" serializeAs="String">
                <value>171</value>
            </setting>
        </MarkThree.Guardian.Forms.Settings>
    </userSettings>
</configuration>