<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="eventLog" value="Unit Test"/>
		<add key="eventLogSource" value="Data Model Service"/>
		<add key="createSources" value="true"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
